
body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
table {
    border-spacing: 0;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}
td, th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 4px;
    text-align: left;
}
th {
    padding: 6px;
    text-transform: uppercase;
    background-color: #778;
    color: #eee;
}
td {
    background-color: #fff;
}
pre {
    font-family: courier;
}
li {
    padding: 2px 0 2px 0;
}
.header {
    margin: 0;
    background-color: #335;
    padding: 15px 0 5px 0;
}
.documentation {
    border: 1px solid #AAA;
    padding: 5px;
    background-color: #FFE;
}
.documentation-title {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}
.title, .subtitle, .info{
    color: #eee;
    padding: 0 0 0 10px;
    margin: 0 0 3px 0;
}
.title {    
    text-transform: uppercase; 
}
.subtitle {
    margin-top: 0;
}
.info {
    color: #888;
}
.container {
    margin: 10px;
}
.dataset-title {
    font-size: x-large;
    margin-bottom: 4px;
}